# === Python Environment & Build Artifacts ===

# Virtual environment
venv/

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo

# IDE/editor settings
.vscode/

# Environment variables / secrets
.env



# === C Build Artifacts ===

# Object files
*.o

# Compiled binaries
main
fs
server/main

# Runtime mount directory (FUSE)
mnt/
